extends layout

block content
  h1= title
  h4 Welcome to #{title}
  div.message-container
    each val in messages 
      ol #{val.user}: #{val.text}  
        p #{val.added}

  a(href='/new') New Message 
